.flex {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.latest-workout-title {
  background: linear-gradient(
    170deg,
    var(--color-dark--2),
    var(--color-dark--1)
  );
  color: var(--color-brand--1);
}

.greeting span {
  /* color: var(--color-brand--2); */
  font-weight: 300;
}

.latest-workout-title > a:hover {
  opacity: 0.9;
}

li > a {
  color: teal;
}
li > a:hover {
  color: rgb(0, 87, 87);
}
